In [2]:
import pandas as pd
import numpy as np

In [3]:
population = pd.read_csv('LGBT_Survey_SubsetSize.csv')

In [9]:
display(population.shape)
population.head()

(29, 7)

,CountryID,N,Lesbian women,Gay men,Bisexual women,Bisexual men,Transgender
0,EU Total,93079,15236,57448,6424,7200,6771
1,AT,2543,437,1558,164,217,167
2,BE,2901,424,1998,132,182,165
3,BG,1033,226,474,139,88,106
4,CY,265,41,164,18,17,25

In [6]:
population['CountryID'].nunique()

29

In [ ]:
#There are 28 unique countries of origin in the study and a row with the sum of all countries (EU Total).

In [11]:
country_codes = pd. read_excel('Queer_EU_survey.xlsx', sheet_name='Country_code')
display(country_codes.shape)
country_codes.head()

(29, 3)

  Country code     Name_output         name_df
0           AT         Austria         austria
1           BE         Belgium         belgium
2           BG        Bulgaria        bulgaria
3           CY          Cyprus          cyprus
4           CZ  Czech_Republic  czech_republic