In [10]:
import pandas as pd
import numpy as np

In [7]:
population_vert = pd.read_csv('population_vert_20220207.csv')
population_vert = population_vert.drop('Unnamed: 0',axis=1)
display(population_vert.head())

  CountryCode variable  value country_subset
0    EU_Total        N  93079     EU_Total N
1     Austria        N   2543      Austria N
2     Belgium        N   2901      Belgium N
3    Bulgaria        N   1033     Bulgaria N
4      Cyprus        N    265       Cyprus N

# Hypothesis testing

In [ ]:
#Given the type of data I have, I will be doing a hypothesis based on proportions.

In [ ]:
# https://medium.com/analytics-vidhya/testing-a-difference-in-population-proportions-in-python-89d57a06254

In [ ]:
#pop Europe gender https://www.statista.com/statistics/755225/population-of-europe-by-gender/#:~:text=In%202021%2C%20the%20female%20population,male%20population%20of%20361.2%20million.

In [12]:
sample_pop = [{'Female': 383163, 'Male': 356062},
        {'Female':43590, 'Male': 129296}]
 
# Creates DataFrame.
sample_pop = pd.DataFrame(sample_pop, index =['EU', 'Survey'])
sample_pop

        Female    Male
EU      383163  356062
Survey   43590  129296